---
layout: category
title: 'other work'
permalink: /en/other-work/
lang: en
translation_key: other-work
i18n_path: /other-work/
---

{% include i18n.html %}
{% assign other_work_posts = site.categories['other-work'] | i18n_best: active_lang | sort: 'date' | reverse %}

<p><h2>{{ i18n.section.platforms_tools_services }}</h2></p>
<ul>
  {% for post in other_work_posts %}
    {% if post.url and post.published != false and post.tags contains 'platforms-tools-services' %}
      <li><a href="{{ post | i18n_url_for_locale: active_lang | relative_url }}">{{ post.title }}</a> ({{ post.published_year }})</li>
    {% endif %}
  {% endfor %}
</ul>

<p><h2>{{ i18n.section.communities }}</h2></p>
<ul>
  {% for post in other_work_posts %}
    {% if post.url and post.published != false and post.tags contains 'communities' %}
      <li><a href="{{ post | i18n_url_for_locale: active_lang | relative_url }}">{{ post.title }}</a> ({{ post.published_year }})</li>
    {% endif %}
  {% endfor %}
</ul>

<p><h2>{{ i18n.section.media }}</h2></p>
<ul>
  {% for post in other_work_posts %}
    {% if post.url and post.published != false and post.tags contains 'media' %}
      <li><a href="{{ post | i18n_url_for_locale: active_lang | relative_url }}">{{ post.title }}</a> ({{ post.published_year }})</li>
    {% endif %}
  {% endfor %}
</ul>
