---
layout: category
title: 'Textos'
url: /textos/
---

<p><h2>Contos</h2></p>
<ul>
  {% for post in site.categories.conto %}
    {% if post.url %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a> ({{ post.published_year}}) ||
			{% if words < words_per_minute %}
				{{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
			{% elsif words == words_per_minute %}
				1	{{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
			{% else %}
				{{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
			{% endif %}
	</li>
    {% endif %}
  {% endfor %}
</ul>
<p><h2>Diálogos</h2></p>
<ul>
  {% for post in site.categories.dialogo %}
    {% if post.url %}
	<li><a href="{{ post.url
		}}">{{ post.title }}</a> ({{ post.published_year}})
	</li>
    {% endif %}
  {% endfor %}
</ul>
