{% assign post_type = "" %}
{% assign post_path = "" %}
{% if page.collection == "textos" %}
  {% if page.categories contains "nonfiction" %}
    {% assign post_type = "non-fiction" %}
    {% assign post_path = "/nonfiction" %}
  {% else %}
    {% assign post_type = "fiction" %}
    {% assign post_path = "/fiction" %}
  {% endif %}
{% elsif page.collection == "jogos" %}
  {% assign post_type = "games" %}
  {% assign post_path = "/games" %}
{% elsif page.collection == "projects" %}
  {% assign post_type = "projects" %}
  {% assign post_path = "/projects" %}
{% endif %}

<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "home" }}</span></a>
      <meta itemprop="position" content="1" />
    </li>
    <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
    
   <!-- Forçar o breadcrumb da coleção -->
    {% if post_type != "" %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{ post_path | relative_url }}" itemprop="item">
          <span itemprop="name">{{ post_type }}</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
    {% else %}
      <!-- Fallback for other collections or default case -->
      {% if page.url contains '/nonfiction/' %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ '/nonfiction' | relative_url }}" itemprop="item">
            <span itemprop="name">non-fiction</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      {% elsif page.url contains '/fiction/' %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ '/fiction' | relative_url }}" itemprop="item">
            <span itemprop="name">fiction</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      {% elsif page.url contains '/games/' %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ '/games' | relative_url }}" itemprop="item">
            <span itemprop="name">games</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      {% elsif page.url contains '/projects/' %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ '/projects' | relative_url }}" itemprop="item">
            <span itemprop="name">projects</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      {% endif %}
    {% endif %}

    <li class="current">{{ page.title }}</li>
  </ol>
</nav>
