---
layout: category
---

{{ content }}

<!-- Minibio -->
        <div class="minibio">
                <p>Joguinista, producer, game designer, narrative designer and writer, fascinated by games as a means of expression and by the miracle of seeing complex projects to the end. Founder of Garoa Studios.</p>
        </div>

        <!-- Links de Navegação -->
          <p> <a href="{{ '/games/' | relative_url }}">Games</a> | <a href="{{ '/fiction/' | relative_url }}">Fiction</a> | <a href="{{ '/nonfiction/' | relative_url }}">Non-fiction</a></p>

        <!-- Contato e Links Pessoais -->
        <div class="contact">
                <p>📧 <a href="mailto:victordepaiva.rio@gmail.com">victordepaiva.rio@gmail.com</a></p>
                <p>Telegram: <a href="https://t.me/victordepaiva">@victordepaiva</a></p>
          <p>
            <a href="https://bsky.app/profile/victordepaiva.com" target="_blank">🦋 Bluesky</a> |
            <a href="https://www.linkedin.com/in/victordepaiva/" target="_blank">💼 LinkedIn</a>
          </p>
        </div>
      </div>
    </section>
  </main>
      </div>
    </section>
  </main>
